.l-footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-image: url(images/footer-bg.png);
  color: #fff;
  text-align: center;

  p {
    font-size: 2rem;
  }

  &__text {
    font-size: 1.4rem;

    &--link {
      display: inline-block;
      margin-bottom: 40px;
    }
  }
}
