.l-menu {
  height: 100%;
  padding-top: 22%;
  padding-left: 15%;
  background-color: #f2ede9;
  color: #707070;

  &__title {
    margin-bottom: 90px;
    font-size: 3.4rem;
    font-weight: 600;
  }
}