.main-404 {
  height: 230px;
  text-align: center;
}
.container-404 {
  p {
    font-size: 1.8rem;
    color: #3c2a10;
    padding-top: 6%;

    .text-404 {
      text-decoration: underline;
    }
  }
}