.c-gnav {
  &__category {
    font-size: 2rem;
    font-family: $jp-fonts;

    &--title {
      display: inline-block;
      margin-bottom: 45px;
      font-size: 2.4rem;
    }

    & > ul {
      margin-bottom: 45px;
    }

    &:last-child > ul {
      margin-bottom: 0;
    }
  }

  &__item {
    margin-bottom: 30px;
    text-indent: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}