.c-card {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  height: 400px;

  &__main {
    background-repeat: no-repeat;
    background-image: url(images/card.png);
    background-size: cover;
    width:50%;
    height:auto;
  }
 

  &__text-wrapper {
    background-color:  #3c2a10;
    width: 50%;
    height: auto;
    color:  #fff;
  }

  &__title {
    font-size: 3.6rem;
    padding-top: 6%;
    padding-left: 6%;
    padding-right: 4%;
    padding-bottom: 4%;
    white-space: nowrap;
  }

  &__sub-title {
    font-size: 2rem;
    padding-top: 2%;
    padding-left: 6%;
    padding-right: 4%;
    padding-bottom: 4%;

  }

  &__about {
    font-size: 1.6rem;
    padding-top: 2%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 10%;
    line-height: 1.6;
  }

  &__btn {
    display: block;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 12%;
    padding-right: 12%;
    border-radius: 50px;
    background-color: #fff;
    color: #707070;
    margin: 0 auto;
    font-size: 1.6rem;
  }

  

        

  @include mq(sm) {
    
      flex-direction: column;
      height: 800px;

      &__main {
        width: 100%;
        height: 400px;
      }

      &__text-wrapper {
        width: 100%;
        height: 500px;
      }

      &__title {
        padding-top: 8%;
        font-size: 2.4rem;
      }

      &__sub-title {
        font-size: 1.5rem;
      }
     

      &__about {
        font-size: 1.5rem;
        padding-top: .8%;
      }

      &__btn {
        margin-top: 8%;
        padding-left: 14%;
        padding-right: 14%;
      }
  }
}

