.c-map__wrapper {
  position: relative;
  height: 50vh;
  background-size: cover;
  background-image: url(images/map.jpg);
  opacity: 0.9;
  width: 100%;
  z-index: 10;

  &__title {
    position: absolute;
    color: #fff;
    font-size: 3.4rem;
    padding-left: 2%;
    padding-top: 4%;

    &::after {
      content: "";
      display: block;
      height: 4px;
      width: 60px;
      background-color: #fff;
      margin-top: 10%;
    }
  }

  &__about {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    padding-top: 18%;
    padding-right: 2%;
    padding-left: 2%;

   
    }
  }


.c-map__filter {
  width: 71%;
  height: 50vh;
  background-color: #333;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  // z-index: 20;

}
@include mq(sm) {
  .c-map__wrapper {
    height: 90vh;

    .c-map__filter {
      width: 100%;
      height: 90vh;
    }
    
    .c-map__wrapper__title {
      font-size: 2.4rem;
      padding-left: 4%;
      padding-top: 8%;

      &::after {
        content: "";
        display: block;
        height: 4px;
        width: 60px;
        background-color: #fff;
        margin-top: 10%;
      }
    }

    .c-map__wrapper__about {
      line-height: 4;
      color: #fff;
      font-size: 1.2rem;
      padding-top: 20%;
      padding-right: 4%;
      padding-left: 4%;
    }
      
  }
}
    @include mq(md) {
      .c-map__filter {
        width: 100%;
      }

      .c-map__wrapper__title {
        font-size: 3rem;
        padding-left: 4%;
        padding-top: 5%;

        &::after {
          content: "";
          display: block;
          height: 4px;
          width: 60px;
          background-color: #fff;
          margin-top: 5%;
        }
      }

      .c-map__wrapper__about {
        line-height: 2;
        padding-top: 15%;

      }

      // .c-map__wrapper__about {
      // }


      
  
}
